body {
    background-color: #111845;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
}

#game-intro {
    background-image: url('./img/deep-sea-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 800px;
    margin-top: 2.5%;
    -webkit-box-shadow: 0px 0px 15px 3px rgba(201,201,201,0.91); 
    box-shadow: 0px 0px 15px 3px rgba(201,201,201,0.91);
}

#game-intro > h1 {
    text-align: center;
    margin: auto;
    font-size: 25px;
    font-family: 'Press Start 2P', cursive;
    color: white;
    font-weight: bold;
}

#canvas {
    margin-top: 2.5%;
    -webkit-box-shadow: 0px 0px 15px 3px rgba(201,201,201,0.91); 
    box-shadow: 0px 0px 15px 3px rgba(201,201,201,0.91);
}

#game-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    margin: 15px auto;
    padding-left: 350px
} 

#start-button {
    margin-left: 2.5px;
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
    text-align: center;
	display: inline-block;
	margin:5px;
    font-weight: bold;
    padding: 10px 0 10px 10px ;
    text-shadow: -1px -1px black, 1px 1px white;
    -webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
    cursor: pointer;
    padding: 10px;
    margin-right: 20px;
    margin-bottom: 100px;
    background-color: #D9931C;
    color: #634B1B;
    box-shadow: 0 .2em #634B1B; 
    width: 200px;
    height: 70px;
}


#game-buttons > button {
    margin-left: 2.5px;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
	display: inline-block;
	margin:5px;
    font-weight: bold;
    padding: 10px 0 10px 10px ;
    background-color: lightgray;
    text-shadow: -1px -1px black, 1px 1px white;
    color: gray;
    -webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
    box-shadow: 0 .2em gray; 
    cursor: pointer;
    padding: 10px;
    margin-right: 20px;
} 

#audio {
    position: relative;
    right: 150px;
    background-color: #D9931C !important;
    color: #634B1B !important;
    box-shadow: 0 .2em #634B1B !important; 
    font-size: 20px;
}

#game-over {
    background-image: url('./img/deep-sea-bg.jpg');
    height: 500px;
    width: 800px;
    margin-top: 2.5%;
    -webkit-box-shadow: 0px 0px 15px 3px rgba(201,201,201,0.91); 
    box-shadow: 0px 0px 15px 3px rgba(201,201,201,0.91);
    background-size: cover;
    background-repeat: no-repeat;
}

#game-over > h1 {
    font-size: 40px;
    font-family: 'Press Start 2P', cursive;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-top: 30%;
}

 #you-win {
    background-image: url('./img/boys-home.gif') ;
    background-size: contain;
    background-repeat:no-repeat;
    height: 500px;
    width: 800px;
    margin-top: 2.5%;
} 

#you-win > h1 {
    font-size: 30px;
    font-family: 'Press Start 2P', cursive;
    color: white;
    font-weight: bold;
    text-align: center;
}


#audio-pause {
    position: relative;
    right: 150px;
    background-color: #D9931C !important;
    color: #634B1B !important;
    box-shadow: 0 .2em #634B1B !important; 
    font-size: 20px;
}

#kms {
    /* background-color:white; */
    font-family: 'Press Start 2P', cursive;
    text-align: center;
	display: block;
	margin:5px;
    font-weight: bold;
    padding: 10px 0 10px 10px ;
    /* background-color: lightgray; */
    /* text-shadow: -1px -1px black, 1px 1px white; */
    color: black;
    font-size: 15px;
    /* -webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px; */
    /* box-shadow: 0 .2em gray; 
    cursor: pointer; */
    padding: 10px;
    margin-right: 20px;
    position: absolute;
    top: 90px;
    left: 280px;
    /* width: 80px !important ; */
}